<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header.ejs')%> <br>
        <%- include('partials/title.ejs')%>
            <%- include('partials/navbar.ejs')%>

                <h1>Log Your Meals</h1>


                <div>
                    <h2>Breakfast</h2> <br>
                    <input type="text" id="addBreakfastInput"><button>+ add food</button>
                    <div id="breakfastList">
                        <br>
                        <% for (breakfast of rows) { %>
                            <div class="center-div">
                                <li><%= breakfast.title %></li>
                                <form action="/deleteBreakfast" method="POST" style="display:inline;">
                                    <input type="hidden" name="breakfastId" value="<%= breakfast.breakfastId %>">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div>
                    <h2>Lunch</h2> <br>
                    <input type="text" id="addLunchInput"><button>+ add food</button>
                    <div id="lunchList">
                        <br>
                        <% for (lunch of rows1) { %>
                            <div class="center-div">
                                <li><%= lunch.title %></li>
                                <form action="/deleteLunch" method="POST" style="display:inline;">
                                    <input type="hidden" name="lunchId" value="<%= lunch.lunchId %>">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div>
                    <h2>Dinner</h2> <br>
                    <input type="text" id="addDinnerInput"><button>+ add food</button>
                    <div id="dinnerList">
                        <br>
                        <% for (dinner of rows2) { %>
                            <div class="center-div">
                                <li><%= dinner.title %></li>
                                <form action="/deleteDinner" method="POST" style="display:inline;">
                                    <input type="hidden" name="dinnerId" value="<%= dinner.dinnerId %>">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div>
                    <h2>Snacks</h2> <br>
                    <input type="text" id="addSnacksInput"><button>+ add food</button>
                    <div id="snacksList">
                        <br>
                        <% for (snack of rows3) { %>
                            <div class="center-div">
                                <li><%= snack.title %></li>
                                <form action="/deleteSnack" method="POST" style="display:inline;">
                                    <input type="hidden" name="snacksId" value="<%= snack.snacksId %>">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div>
                    <button>Fasting?</button>
                </div>

</body>

</html>